.footer__items {
  grid-area: links;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 650px) {
  .footer__items {
    flex-direction: column;
  }
}
