.intro__list {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 690px;
 }

@media screen and (max-width: 425px) {
  .intro__list {
    margin: 34px 0 0;
  }
}
