.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
  }
}
