.footer {
  margin: 92px auto 24px;
  width: calc(100% - 2 * 48px);
  display: grid;
  grid-template-areas: "links copyright";
}

@media screen and (max-width: 770px) {
  .footer {
    width: calc(100% - 2 * 24px);
    margin: 88px auto 24px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    width: calc(100% - 2 * 16px);
    margin: 64px auto 24px;
    grid-template-areas: "links"
                          "copyright";
  }
}

/* подвал */